.footer {
  margin-top: 50px;
  color: #fff;
  text-align: center;
}

.link {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.link:hover {
  color: #fff;
  text-decoration: none;
}